/*html, body, header, main, footer, article, div, span, p, a, figure, img, small {
        margin: 0;
        padding: 0;
        list-style: none;
        box-sizing: border-box;
        font-family: 'Open Sans', sans-serif;
        text-decoration: none;
        outline: none;
}*/
html,body{
    /*background: #2A3F54;/*#6665ee;*/
    /*font-family: 'Poppins', sans-serif;*/
    /*background-image: url('../img/smiling.jpg');*/
    background-position: center center;
    background-size: cover;
    position: absolute;
    width: auto;
    height: auto;
    min-width: 100%;
    min-height: 100%;
    top: 0;
    left: 0;
}
/*Estilo da msg de erro de conexão com banco de dados*/
.errorConexao {
        font-size: 2rem;
        position: relative;
        color: var(--danger);/*#dd1515*/
        border-color: var(--danger);
        font-weight: 500;
        /*margin: auto -50% auto;*/
}
/* ini: Preloader */
#preloader {
        position:fixed;
        top:0;
        left:0;
        right:0;
        bottom:0;
        background-color: #ffffff;/*#F27620; /* cor do background que vai ocupar o body */
        z-index: 999; /* z-index para jogar para frente e sobrepor tudo */
}
#preloader .inner {
        position: absolute;
        top: 50%; /* centralizar a parte interna do preload (onde fica a animação)*/
        left: 50%;
        transform: translate(-50%, -50%);  
}
/* end: Preloader */
.card-login {
        /*width: 350px;
        margin: 0 auto;
        box-shadow: 0px 0px 10px;*/
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: rgb(23 162 184 / 34%);/*#E7E7E7;*/
        padding: 30px 35px;
        border-radius: 5px;
        box-shadow: 0 4px 8px 0 #1d2124, 0 6px 20px 0 #1d2124;/*0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
}
/*Mostrar e ocultar senha do login*/
.senha{
        position: relative;
        /*height: 55px;
        width: 320px;
        border-radius: 5px;
        box-shadow: 0px 3px 3px rgba(0,0,0,0.1);*/
}
.senha span{
        position: absolute;
        right: 15px;
        top: 50%;
        transform: translateY(-50%);
        font-size: 20px;
        color: var(--info);
        cursor: pointer;
        display: none;
}
.senha input:valid ~ span{
        display: block;
}
.senha span i.hide-btn::before{
        content: "\f070";
}
/*Estilo da msg de erro da validação dos formulários*/
.error {
        color: var(--danger);/*#dd1515*/
        border-color: var(--danger);/*#dd1515*/
        /*border: 1px solid black;
        box-shadow: 0px 0px 10px;
        padding: 5px;
        margin-right: 5px;*/
        font-size: 17px;
        font-weight: 500;
        border-radius: 3px;
        background: #f8f9fa6b;
        margin-top: 5px;
}
.sucess {
        color: #26a33b;
        border-radius: 3px;
        font-size: 2rem;
        position: relative;
        font-weight: 500;
}
.rodape {
        margin: 1rem 0 0 0;
}
h2 {
        margin-bottom: 1.5rem;
}

